/* remove padding and margins by default */
* {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  gap: 0.5em;
}

:root {
  font-family: "CGA", monospace;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  --bg: #fff;
  --accent: #00b050;
  --on-accent: white;
  --shadow: #606060;
}

body {
  /* center elements on page */
  display: grid;
  height: 100vh;
  place-content: center;
  gap: 2rem;
  background-color: var(--bg);
}

#captureMouseDrag {
  position: fixed;
  inset: 0;
  z-index: 2;
}

body[drag] #captureMouseDrag {
  cursor: grab;
}

body[drag] #captureMouseDrag:active {
  cursor: grabbing;
}

.score-container {
  display: flex;
  line-height: 1rem;
}

/* align timer to right of the scoreboard */
.timer {
  margin-inline-start: auto;
}

canvas {
  background-color: #eee;
  border: 8px solid #000;
  box-shadow: calc(var(--rotate-x, 0) * 10px) calc(var(--rotate-y, 0) * 10px + 10px) 20px #0001;
  /* rotation multiplier */
  --rotation: 10deg;
  /* rotate canvas on page */
  transform:
    perspective(600px) rotateY(calc(var(--rotate-x, 0) * var(--rotation))) rotateX(calc(var(--rotate-y, 0) * var(--rotation) * -1));
}

/* fonts */
@font-face {
  font-family: CGA;
  src: url("fonts/Web437_IBM_BIOS.woff");
}

dialog {
  transform: translateY(5rem);
  transition: transform 200ms;
  display: block;
  visibility: collapse;
  z-index: 100;
}

dialog[open] {
  margin: auto;
  padding: 1rem;
  width: min(90%, 40ch);
  border: 0.25em solid currentColor;
  transform: translateY(0);
  visibility: visible;

}

dialog h1 {
  border-bottom: .25rem solid currentColor;
  margin-bottom: .5rem;
}

button {
  --transition-time: 200ms;
  position: relative;
  color: var(--on-accent);
  background-color: transparent;
  border: none;
  font: inherit;
  padding: 1em;
  margin: 1em .5em .5em 0;
  outline: none;
  transition: transform var(--transition-time);
  cursor: pointer;
  min-width: 8ch;
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent);
  z-index: -1;
}

button:focus-visible {
  outline: 0.125em solid var(--accent);
  outline-offset: 0.125em;
}

button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--shadow);
  z-index: -2;
  transform: translate(.5em, .5em);
  transition: transform var(--transition-time);
}

button:active {
  --transition-time: 50ms;
  transform: translate(.5em, .5em);
}

button:active::after {
  transform: translate(0, 0);
}

#debugOptions {
  order: 2;
  z-index: 3;
  background-color: var(--bg);
}

input {
  position: relative;
  color: var(--on-accent);
  background-color: var(--accent);
  border: none;
  font: inherit;
  padding: 1em;
  margin: 1em .5em .5em 0;
  width: 4ch;
  box-shadow: var(--shadow) .5em .5em;
}

input:focus {
  outline: 0.125em solid var(--accent);
  outline-offset: 0.125em;
}
